@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@media (max-width:700px)
{
  body
  {
    font-size:12px;
    font-family: 'Poppins', san-serif;
    background-color:#23282E;
    height:100%;
  }
  *
  {
    box-sizing:border-box;
  }
  
  
  /*  Log-in form(admin) */
  
  
  .admin-pos
  {
    text-align:center;
    margin:10px 10px;
  }
  .form-admin-container
  {
    width:360px;
    border:1px solid #000;
    border-radius:5px;
    margin:30% auto 0 auto;
    padding:20px;
    background-color:#000;
  }
  .icon-admin
  {
    color:#fff;
    font-size:29px;
  }
  .admin-text
  {
    color:#fff;
    text-transform:uppercase;
    margin:10px 0 0 0;
    font-weight:600;
    font-size:14px;
  }
  .label-text
  {
    color:#fff;
    text-transform:uppercase;
    font-weight:500;
    margin:10px 0 10px 0;
    letter-spacing:1px;
  }
  .ri-eye-line, .ri-eye-off-line, .admin
  {
    color:#fff;
    font-size:16px;
  }
  .close
  {
    display:none;
  }
  .input-text
  {
    width:100%;
    background-color:#23282E;
    border:none;
    outline:none;
    color:#fff;
    padding-left:10px;
  }
  .input-container
  {
    width:100%;
    padding:10px;
    align-items:center;
    display:flex;
    background-color:#23282E;
    margin:15px 0 15px 0;
  }
  input::placeholder
  {
    color:#fff;
    opacity:0.9;
  }
  .button-admin
  {
    width:100%;
    border:none;
    border-radius:5px;
    background-color:#307CEC;
    color:#fff;
    font-weight:500;
  }
  .Login-admin
  {
    width:100%;
    padding:12px;
    border:none;
    border-radius:5px;
    color:#fff;
    background-color:#307CEC;
    text-transform:uppercase;
    font-weight:500;
    margin:10px 0 10px 0;
  }
  .Login-admin:hover
  {
    background-color: #0056b3;
  }
  .forgot-password
  {
    color:#fff;
    text-decoration:underline;
    text-underline-offset:3px;
  }
  /*  Log-in form(admin) */
  
  /* navigation */
  nav
  {
    top:0;
    left:0;
    width:100%;
    position:fixed;
    background-color:#000;
    justify-content:space-between;
    align-items:center;
    padding:5px;
    display:flex;
    z-index:11;
  }
  .risk-reduction-logo
  {
    width:120px;
  }
  .bar-right, .bar-left
  {
    width:24px;
    height:3px;
    background-color:#fff;
    margin:3px 3px;
    border-radius:3px;
    transition:all 0.4s ease;
  }
  .bar-short
  {
    width:12px;
    height:3px;
    background-color:#fff;
    margin:3px 3px;
    border-radius:3px;
  }
  .change .bar-right
  {
    transform:translate(0,6px)rotate(-42deg);
  }
  .change .bar-left
  {
    transform:translate(0,-6px)rotate(42deg);
  }
  .change .bar-short
  {
    opacity:0
  }
  
  ul
  {
   display:flex;
   gap:8px;
   position:absolute;
   top:40px;
   flex-direction:column;
   left:0;
   right:0;
   background-color:#000;
   overflow:hidden;
   height:320px;
  }
  ul li
  {
    list-style:none;
    margin:20px 0 0 0;
  }
  ul li a
  {
    color:#fff;
    font-size:16px;
    font-weight:600;
    text-decoration:none;
    cursor:none;
    width:100%;
    position:relative;
  }
  ul li a:before
  {
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    height:3px;
    background-color:#307CEC;
    border-radius:12px;
    transition:all 0.5s ease;
    width:0%;
    margin-left:25px;
  }
  ul li a:hover:before
  {
    width:85%;
  }
  .icon-menu
  {
    font-size:15px;
    margin-right:10px;
    color:#307CEC;
  }
  #openlink
  {
    transition:all 0.4s ease;
  }
  /* Navigation */

 /* alert notification */

  .alert-construct
  {
    width:120px;
  }
  .alert-container
  {
    width:320px;
    position:absolute;
    border:1px solid #000;
    border-radius:5px;
    padding:10px;
    text-align:center;
    background-color:#000;
    color:#fff;
    top:0;
    left:50%;
    transform:translate(-50%, -50%)scale(0.1);
    visibility:hidden;
    transition:all 0.4s ease;
  }
  .open-alert
  {
    visibility:visible;
    top:50%;
    transform:translate(-50%, -50%)scale(1);
  }
  .button-alert
  {
    width:120px;
    border:none;
    border-radius:5px;
    background-color:#307CEC;
    font-weight:600;
    padding:9px;
    color:#fff;
  }

 /* alert notification */

}
@media (min-width:701px)
{
  body
  {
    font-size:13px;
    font-style:'Poppins', san-serif;
    background-color:#23282E;
  }
  *
  {
    box-sizing:border-box;
  }
  
  /*  Login Admin - Desktop */
  
  
  .admin-pos
  {
    text-align:center;
    margin:10px 10px;
  }
  .form-admin-container
  {
    width:360px;
    border:1px solid #000;
    border-radius:5px;
    padding:20px;
    background-color:#000;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%)scale(1);
  }
  .icon-admin
  {
    color:#fff;
    font-size:29px;
  }
  .admin-text
  {
    color:#fff;
    text-transform:uppercase;
    margin:10px 0 0 0;
    font-weight:600;
    font-size:14px;
  }
  .label-text
  {
    color:#fff;
    text-transform:uppercase;
    font-weight:600;
    letter-spacing:1px;
    margin:10px 0 10px 0;
  }
  .admin
  {
    color:#fff;
    font-size:16px;
    letter-spacing:1px;
  }
  .input-text
  {
    width:100%;
    background-color:#23282E;
    border:none;
    outline:none;
    color:#fff;
    padding-left:10px;
  }
  .input-container
  {
    width:100%;
    padding:10px;
    align-items:center;
    display:flex;
    background-color:#23282E;
    margin:15px 0 15px 0;
  }
  input::placeholder
  {
    color:#fff;
    opacity:0.9;
  }
  .button-admin
  {
    width:100%;
    border:none;
    border-radius:5px;
    background-color:#307CEC;
    color:#fff;
    font-weight:500;
  }
  .ri-eye-line, .ri-eye-off-line, .admin
  {
    color:#fff;
    font-size:16px;
  }
  .close
  {
    display:none;
  }
  .Login-admin
  {
    width:100%;
    padding:12px;
    border:none;
    border-radius:5px;
    color:#fff;
    background-color:#307CEC;
    text-transform:uppercase;
    font-weight:500;
  }
  .Login-admin:hover
  {
    background-color: #0056b3;
  }
  .forgot-password
  {
    color:#fff;
    text-decoration:underline;
    text-underline-offset:3px;
  }
  
  /*  Login Admin - Desktop */
  
  /* Navigation - Desktop */
  
  nav
  {
    top:0;
    left:0;
    width:100%;
    position:fixed;
    background-color:#000;
    justify-content:space-between;
    align-items:center;
    padding:5px;
    display:flex;
    z-index:11;
  }
  .risk-reduction-logo
  {
    width:120px;
  }
  .span-bar, .icon-menu
  {
    display:none;
  }
  ul
  {
    display:flex;
    align-items:center;
    gap:30px;
  }
  ul li
  {
    list-style:none;
  }
  ul li a
  {
    color:#fff;
    font-size:16px;
    font-weight:600;
    text-decoration:none;
    width:100%;
    margin:0 20px 0 10px;
    position:relative;
  }
  ul li a:before
  {
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    height:3px;
    background-color:#307CEC;
    border-radius:12px;
    transition:all 0.5s ease;
    width:0%;
  }
  ul li a:hover:before
  {
    width:100%;
  }
  
  /* Navigation - Desktop */
  
  /* alert notification */

  .alert-construct
  {
    width:120px;
  }
  .alert-container
  {
    width:320px;
    position:absolute;
    border:1px solid #000;
    border-radius:5px;
    padding:10px;
    text-align:center;
    background-color:#000;
    color:#fff;
    top:0;
    left:50%;
    transform:translate(-50%, -50%)scale(0.1);
    visibility:hidden;
    transition:all 0.4s ease;
  }
  .open-alert
  {
    visibility:visible;
    top:50%;
    transform:translate(-50%, -50%)scale(1);
  }
  .button-alert
  {
    width:120px;
    border:none;
    border-radius:5px;
    background-color:#307CEC;
    font-weight:600;
    padding:9px;
    color:#fff;
  }

 /* alert notification */
}

